/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px,0,0)}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{display:none}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-item img{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;-moz-transition:scale 100ms ease;-ms-transition:scale 100ms ease;-o-transition:scale 100ms ease;transition:scale 100ms ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3,1.3);-moz-transition:scale(1.3,1.3);-ms-transition:scale(1.3,1.3);-o-transition:scale(1.3,1.3);transition:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
/*Compass extensions*/
/*SegoeUI*/
@font-face {
  font-family: "SegoeUI";
  src: url("/fonts/SegoeUI/SegoeUILight.eot");
  src: url("/fonts/SegoeUI/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("/fonts/SegoeUI/SegoeUILight.svg") format("svg"), url("/fonts/SegoeUI/SegoeUILight.woff") format("woff"), url("/fonts/SegoeUI/SegoeUILight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "SegoeUI";
  src: url("/fonts/SegoeUI/SegoeUIRegular.eot");
  src: url("/fonts/SegoeUI/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/SegoeUI/SegoeUIRegular.svg") format("svg"), url("/fonts/SegoeUI/SegoeUIRegular.woff") format("woff"), url("/fonts/SegoeUI/SegoeUIRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "SegoeUI";
  src: url("/fonts/SegoeUI/SegoeUIItalic.eot");
  src: url("/fonts/SegoeUI/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/SegoeUI/SegoeUIItalic.svg") format("svg"), url("/fonts/SegoeUI/SegoeUIItalic.woff") format("woff"), url("/fonts/SegoeUI/SegoeUIItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal; }
@font-face {
  font-family: "SegoeUI";
  src: url("/fonts/SegoeUI/SegoeUISemiBold.eot");
  src: url("/fonts/SegoeUI/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/SegoeUI/SegoeUISemiBold.svg") format("svg"), url("/fonts/SegoeUI/SegoeUISemiBold.woff") format("woff"), url("/fonts/SegoeUI/SegoeUISemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "SegoeUI";
  src: url("/fonts/SegoeUI/SegoeUIBold.eot");
  src: url("/fonts/SegoeUI/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("/fonts/SegoeUI/SegoeUIBold.svg") format("svg"), url("/fonts/SegoeUI/SegoeUIBold.woff") format("woff"), url("/fonts/SegoeUI/SegoeUIBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }
/*Sprites*/
.ui-sprite, .ui-220-b, .ui-220, .ui-adv-1, .ui-adv-2, .ui-adv-3, .ui-adv-4, .ui-bath-b, .ui-bath, .ui-bide-b, .ui-bide, .ui-cable-b, .ui-cable-repair-b, .ui-cable-repair, .ui-cable, .ui-car-b, .ui-car-wash-b, .ui-car-wash, .ui-car, .ui-chandelier-b, .ui-chandelier, .ui-clean-b, .ui-clean, .ui-cofe-b, .ui-cofe, .ui-cond-b, .ui-cond, .ui-construct-b, .ui-construct, .ui-cornice-b, .ui-cornice, .ui-crane-b, .ui-crane, .ui-decor-b, .ui-decor, .ui-destruct-b, .ui-destruct, .ui-door-b, .ui-door, .ui-dry-b, .ui-dry, .ui-electro-b, .ui-electro, .ui-floor-b, .ui-floor, .ui-frost-b, .ui-frost, .ui-furniture-b, .ui-furniture, .ui-jacuzzi-b, .ui-jacuzzi, .ui-light-b, .ui-light, .ui-panel-b, .ui-panel, .ui-phone, .ui-plate-b, .ui-plate, .ui-rclean-b, .ui-rclean, .ui-repair-b, .ui-repair, .ui-screwdriver-b, .ui-screwdriver, .ui-shelf-b, .ui-shelf, .ui-shower-b, .ui-shower, .ui-sink-b, .ui-sink, .ui-slider-left-b, .ui-slider-left, .ui-slider-right-b, .ui-slider-right, .ui-svc-b, .ui-svc, .ui-switch-b, .ui-switch, .ui-time, .ui-toilet-b, .ui-toilet, .ui-towel-b, .ui-towel, .ui-ul-check, .ui-uncor-b, .ui-uncor, .ui-unfur-b, .ui-unfur, .ui-uzo-b, .ui-uzo, .ui-vent-b, .ui-vent, .ui-warm-b, .ui-warm, .ui-washer-b, .ui-washer, header.main .bottom .time span:before, header.main .bottom .phone span:before, main .section-menu figure.washer:before, main .section-menu figure.washer:after, main .section-menu figure.frost:before, main .section-menu figure.frost:after, main .section-menu figure.plate:before, main .section-menu figure.plate:after, main .section-menu figure.panel:before, main .section-menu figure.panel:after, main .section-menu figure.shelf:before, main .section-menu figure.shelf:after, main .section-menu figure.car-wash:before, main .section-menu figure.car-wash:after, main .section-menu figure.dry:before, main .section-menu figure.dry:after, main .section-menu figure.cond:before, main .section-menu figure.cond:after, main .section-menu figure.cofe:before, main .section-menu figure.cofe:after, main .section-menu figure.svc:before, main .section-menu figure.svc:after, main .section-menu figure.vent:before, main .section-menu figure.vent:after, main .section-menu figure.car:before, main .section-menu figure.car:after, main .section-menu figure.toilet:before, main .section-menu figure.toilet:after, main .section-menu figure.bide:before, main .section-menu figure.bide:after, main .section-menu figure.bath:before, main .section-menu figure.bath:after, main .section-menu figure.jacuzzi:before, main .section-menu figure.jacuzzi:after, main .section-menu figure.crane:before, main .section-menu figure.crane:after, main .section-menu figure.shower:before, main .section-menu figure.shower:after, main .section-menu figure.sink:before, main .section-menu figure.sink:after, main .section-menu figure.towel:before, main .section-menu figure.towel:after, main .section-menu figure.clean:before, main .section-menu figure.clean:after, main .section-menu figure.construct:before, main .section-menu figure.construct:after, main .section-menu figure.warm:before, main .section-menu figure.warm:after, main .section-menu figure.destruct:before, main .section-menu figure.destruct:after, main .section-menu figure.switch:before, main .section-menu figure.switch:after, main .section-menu figure.power:before, main .section-menu figure.power:after, main .section-menu figure.uzo:before, main .section-menu figure.uzo:after, main .section-menu figure.chandelier:before, main .section-menu figure.chandelier:after, main .section-menu figure.light:before, main .section-menu figure.light:after, main .section-menu figure.cable:before, main .section-menu figure.cable:after, main .section-menu figure.electro:before, main .section-menu figure.electro:after, main .section-menu figure.cable-repair:before, main .section-menu figure.cable-repair:after, main .section-menu figure.screwdriver:before, main .section-menu figure.screwdriver:after, main .section-menu figure.furniture:before, main .section-menu figure.furniture:after, main .section-menu figure.floor:before, main .section-menu figure.floor:after, main .section-menu figure.door:before, main .section-menu figure.door:after, main .section-menu figure.unfur:before, main .section-menu figure.unfur:after, main .section-menu figure.repair:before, main .section-menu figure.repair:after, main .section-menu figure.cornice:before, main .section-menu figure.cornice:after, main .section-menu figure.uncor:before, main .section-menu figure.uncor:after, main .section-menu figure.decor:before, main .section-menu figure.decor:after, main .section-menu figure.rclean:before, main .section-menu figure.rclean:after, main .brands .owl-nav .owl-next:before, main .brands .owl-nav .owl-next:after, main .brands .owl-nav .owl-prev:before, main .brands .owl-nav .owl-prev:after, main .price article ul li:first-child:before, main .advantages ul li:first-child:before, main .advantages ul li:nth-child(2):before, main .advantages ul li:nth-child(3):before, main .advantages ul li:last-child:before, main .service .right .owl-carousel .owl-nav .owl-next:before, main .service .right .owl-carousel .owl-nav .owl-next:after, main .service .right .owl-carousel .owl-nav .owl-prev:before, main .service .right .owl-carousel .owl-nav .owl-prev:after {
  background-image: url('/images/sprites/ui-s03662efc70.png');
  background-repeat: no-repeat; }

.ui-220-b {
  background-position: 0 -52px;
  height: 42px;
  width: 42px; }

.ui-220 {
  background-position: 0 -52px;
  height: 42px;
  width: 42px; }

.ui-adv-1 {
  background-position: 0 -104px;
  height: 54px;
  width: 49px; }

.ui-adv-2 {
  background-position: 0 -168px;
  height: 54px;
  width: 54px; }

.ui-adv-3 {
  background-position: 0 -232px;
  height: 60px;
  width: 45px; }

.ui-adv-4 {
  background-position: 0 -302px;
  height: 57px;
  width: 43px; }

.ui-bath-b {
  background-position: 0 -369px;
  height: 43px;
  width: 47px; }

.ui-bath {
  background-position: 0 -422px;
  height: 43px;
  width: 47px; }

.ui-bide-b {
  background-position: 0 -475px;
  height: 40px;
  width: 30px; }

.ui-bide {
  background-position: 0 -525px;
  height: 40px;
  width: 30px; }

.ui-cable-b {
  background-position: 0 -575px;
  height: 40px;
  width: 43px; }

.ui-cable-repair-b {
  background-position: 0 -625px;
  height: 40px;
  width: 49px; }

.ui-cable-repair {
  background-position: 0 -675px;
  height: 40px;
  width: 49px; }

.ui-cable {
  background-position: 0 -725px;
  height: 40px;
  width: 43px; }

.ui-car-b {
  background-position: 0 -775px;
  height: 34px;
  width: 52px; }

.ui-car-wash-b {
  background-position: 0 -819px;
  height: 45px;
  width: 36px; }

.ui-car-wash {
  background-position: 0 -874px;
  height: 45px;
  width: 36px; }

.ui-car {
  background-position: 0 -929px;
  height: 34px;
  width: 52px; }

.ui-chandelier-b {
  background-position: 0 -973px;
  height: 50px;
  width: 45px; }

.ui-chandelier {
  background-position: 0 -1033px;
  height: 50px;
  width: 45px; }

.ui-clean-b {
  background-position: 0 -1093px;
  height: 43px;
  width: 22px; }

.ui-clean {
  background-position: 0 -1146px;
  height: 43px;
  width: 22px; }

.ui-cofe-b {
  background-position: 0 -1199px;
  height: 39px;
  width: 35px; }

.ui-cofe {
  background-position: 0 -1248px;
  height: 39px;
  width: 35px; }

.ui-cond-b {
  background-position: 0 -1297px;
  height: 39px;
  width: 58px; }

.ui-cond {
  background-position: 0 -1346px;
  height: 39px;
  width: 58px; }

.ui-construct-b {
  background-position: 0 -1395px;
  height: 50px;
  width: 51px; }

.ui-construct {
  background-position: 0 -1455px;
  height: 50px;
  width: 51px; }

.ui-cornice-b {
  background-position: 0 -1515px;
  height: 41px;
  width: 62px; }

.ui-cornice {
  background-position: 0 -1566px;
  height: 41px;
  width: 62px; }

.ui-crane-b {
  background-position: 0 -1617px;
  height: 43px;
  width: 57px; }

.ui-crane {
  background-position: 0 -1670px;
  height: 43px;
  width: 57px; }

.ui-decor-b {
  background-position: 0 -1723px;
  height: 42px;
  width: 42px; }

.ui-decor {
  background-position: 0 -1775px;
  height: 42px;
  width: 42px; }

.ui-destruct-b {
  background-position: 0 -1827px;
  height: 41px;
  width: 44px; }

.ui-destruct {
  background-position: 0 -1878px;
  height: 41px;
  width: 44px; }

.ui-door-b {
  background-position: 0 -1929px;
  height: 42px;
  width: 37px; }

.ui-door {
  background-position: 0 -1981px;
  height: 42px;
  width: 37px; }

.ui-dry-b {
  background-position: 0 -2033px;
  height: 37px;
  width: 36px; }

.ui-dry {
  background-position: 0 -2080px;
  height: 37px;
  width: 36px; }

.ui-electro-b {
  background-position: 0 -2127px;
  height: 41px;
  width: 51px; }

.ui-electro {
  background-position: 0 -2178px;
  height: 41px;
  width: 51px; }

.ui-floor-b {
  background-position: 0 -2229px;
  height: 42px;
  width: 42px; }

.ui-floor {
  background-position: 0 -2281px;
  height: 42px;
  width: 42px; }

.ui-frost-b {
  background-position: 0 -2333px;
  height: 43px;
  width: 26px; }

.ui-frost {
  background-position: 0 -2386px;
  height: 43px;
  width: 26px; }

.ui-furniture-b {
  background-position: 0 -2439px;
  height: 41px;
  width: 49px; }

.ui-furniture {
  background-position: 0 -2490px;
  height: 41px;
  width: 49px; }

.ui-jacuzzi-b {
  background-position: 0 -2541px;
  height: 43px;
  width: 43px; }

.ui-jacuzzi {
  background-position: 0 -2594px;
  height: 43px;
  width: 43px; }

.ui-light-b {
  background-position: 0 -2647px;
  height: 40px;
  width: 43px; }

.ui-light {
  background-position: 0 -2697px;
  height: 40px;
  width: 43px; }

.ui-panel-b {
  background-position: 0 -2747px;
  height: 36px;
  width: 36px; }

.ui-panel {
  background-position: 0 -2793px;
  height: 36px;
  width: 36px; }

.ui-phone {
  background-position: 0 -2839px;
  height: 14px;
  width: 14px; }

.ui-plate-b {
  background-position: 0 -2863px;
  height: 42px;
  width: 36px; }

.ui-plate {
  background-position: 0 -2915px;
  height: 42px;
  width: 36px; }

.ui-rclean-b {
  background-position: 0 -2967px;
  height: 43px;
  width: 40px; }

.ui-rclean {
  background-position: 0 -3020px;
  height: 43px;
  width: 40px; }

.ui-repair-b {
  background-position: 0 -3073px;
  height: 38px;
  width: 38px; }

.ui-repair {
  background-position: 0 -3121px;
  height: 38px;
  width: 38px; }

.ui-screwdriver-b {
  background-position: 0 -3169px;
  height: 39px;
  width: 59px; }

.ui-screwdriver {
  background-position: 0 -3218px;
  height: 39px;
  width: 59px; }

.ui-shelf-b {
  background-position: 0 -3267px;
  height: 34px;
  width: 41px; }

.ui-shelf {
  background-position: 0 -3311px;
  height: 34px;
  width: 41px; }

.ui-shower-b {
  background-position: 0 -3355px;
  height: 44px;
  width: 39px; }

.ui-shower {
  background-position: 0 -3409px;
  height: 44px;
  width: 39px; }

.ui-sink-b {
  background-position: 0 -3463px;
  height: 42px;
  width: 56px; }

.ui-sink {
  background-position: 0 -3515px;
  height: 42px;
  width: 56px; }

.ui-slider-left-b {
  background-position: 0 -3567px;
  height: 45px;
  width: 45px; }

.ui-slider-left {
  background-position: 0 -3622px;
  height: 45px;
  width: 45px; }

.ui-slider-right-b {
  background-position: 0 -3677px;
  height: 45px;
  width: 45px; }

.ui-slider-right {
  background-position: 0 -3732px;
  height: 45px;
  width: 45px; }

.ui-svc-b {
  background-position: 0 -3787px;
  height: 36px;
  width: 59px; }

.ui-svc {
  background-position: 0 -3833px;
  height: 36px;
  width: 59px; }

.ui-switch-b {
  background-position: 0 -3879px;
  height: 43px;
  width: 43px; }

.ui-switch {
  background-position: 0 -3932px;
  height: 43px;
  width: 43px; }

.ui-time {
  background-position: 0 -3985px;
  height: 17px;
  width: 17px; }

.ui-toilet-b {
  background-position: 0 -4012px;
  height: 42px;
  width: 32px; }

.ui-toilet {
  background-position: 0 -4064px;
  height: 42px;
  width: 32px; }

.ui-towel-b {
  background-position: 0 -4116px;
  height: 42px;
  width: 45px; }

.ui-towel {
  background-position: 0 -4168px;
  height: 42px;
  width: 45px; }

.ui-ul-check {
  background-position: 0 -4220px;
  height: 22px;
  width: 22px; }

.ui-uncor-b {
  background-position: 0 -4252px;
  height: 40px;
  width: 41px; }

.ui-uncor {
  background-position: 0 -4302px;
  height: 40px;
  width: 41px; }

.ui-unfur-b {
  background-position: 0 -4352px;
  height: 42px;
  width: 66px; }

.ui-unfur {
  background-position: 0 -4404px;
  height: 42px;
  width: 66px; }

.ui-uzo-b {
  background-position: 0 -4456px;
  height: 41px;
  width: 49px; }

.ui-uzo {
  background-position: 0 -4507px;
  height: 41px;
  width: 49px; }

.ui-vent-b {
  background-position: 0 -4558px;
  height: 35px;
  width: 42px; }

.ui-vent {
  background-position: 0 -4603px;
  height: 35px;
  width: 42px; }

.ui-warm-b {
  background-position: 0 -4648px;
  height: 43px;
  width: 45px; }

.ui-warm {
  background-position: 0 -4701px;
  height: 43px;
  width: 45px; }

.ui-washer-b {
  background-position: 0 -4754px;
  height: 42px;
  width: 37px; }

.ui-washer {
  background-position: 0 -4806px;
  height: 42px;
  width: 37px; }

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

*, :after, :before {
  box-sizing: border-box; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.dev {
  outline: 1px solid #db002a; }

html {
  -webkit-text-size-adjust: none;
  height: 100%; }

body {
  font-family: 'SegoeUI', sans-serif;
  font-weight: 400;
  color: #212121;
  font-size: 16px;
  /*overflow-x: hidden;*/
  position: relative;
  background: #ffffff;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }

h1 {
  font-family: 'SegoeUI', sans-serif;
  font-size: 1.250em;
  font-weight: 700;
  text-transform: uppercase; }

h2 {
  font-family: 'SegoeUI', sans-serif;
  font-size: 1.250em;
  font-weight: 700;
  text-transform: uppercase; }

h3 {
  font-size: 1.250em;
  font-weight: 700;
  font-family: 'SegoeUI', sans-serif; }

h4 {
  font-size: 1.250em;
  font-weight: 700;
  font-family: 'SegoeUI', sans-serif; }

.relative {
  position: relative; }

.alert-browsehappy {
  margin: 0.2em .2em;
  background: #FFFFFF;
  color: #000000;
  text-align: center;
  padding: 1.2em;
  letter-spacing: 1px;
  font-size: 1.143em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
  .alert-browsehappy a {
    text-decoration: underline;
    color: #FFFFFF;
    font-weight: bold; }

/*
.range-o-0 {
  &:before {
    content: "";
    display: block;
    @include ui-sprite(range-o-0);
  }
}
*/
.a-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.btn {
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 13px 23px 10px;
  letter-spacing: 0.02em;
  outline: 0 !important; }

.full {
  width: 100%;
  margin: 0 auto; }

.invis {
  opacity: 0 !important; }

.vis {
  opacity: 1 !important; }

.container {
  width: 960px;
  /*overflow: hidden;*/
  margin: 0 auto;
  position: relative;
  padding-left: 0;
  padding-right: 0; }
  .container:before, .container:after {
    display: table;
    content: " "; }
  .container:after {
    clear: both; }

.btn {
  display: inline-block;
  *display: inline;
  padding: 7px 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.750em;
  text-decoration: none;
  border: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
  .btn:hover {
    border: none;
    outline: none; }

.btn-blue {
  background: #04aae1;
  color: #ffffff; }
  .btn-blue:hover {
    background: #1d81ce; }

.btn-white {
  background: transparent;
  border: 1px solid #04aae1;
  color: #04aae1; }
  .btn-white:hover {
    color: #92bbce;
    border: 1px solid #1d81ce; }

.btn-bold {
  font-weight: 700; }

a {
  color: #212121; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
           http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
header.main .top {
  background: #191919;
  color: #ffffff; }
  header.main .top nav {
    text-align: right;
    width: 100%;
    margin: 0 auto; }
    header.main .top nav ul {
      list-style: none;
      margin: 0; }
      header.main .top nav ul li {
        float: right;
        padding: 0 5px 7px 5px; }
        header.main .top nav ul li a {
          font-size: 12px;
          color: #ffffff; }
          header.main .top nav ul li a:hover {
            text-decoration: none; }
  header.main .top:before, header.main .top:after {
    display: table;
    content: " "; }
  header.main .top:after {
    clear: both; }
header.main .bottom {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  z-index: 9999999; }
  header.main .bottom:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    background: #cacaca; }
  header.main .bottom .logo-wrapper {
    position: relative;
    float: left;
    margin-top: 14px;
    margin-left: 2px; }
    header.main .bottom .logo-wrapper img {
      width: 100%;
      height: auto; }
    header.main .bottom .logo-wrapper:after {
      content: "";
      width: 2px;
      height: 53px;
      position: absolute;
      top: -7px;
      right: -4px;
      background: #cacaca; }
  header.main .bottom .title {
    float: left;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 8px; }
    header.main .bottom .title p {
      margin: 6px 0 29px;
      line-height: 13px; }
    header.main .bottom .title span {
      background: #04aae1;
      color: #ffffff;
      float: right;
      padding: 0 3px 2px; }
  header.main .bottom .time {
    position: relative;
    float: left;
    font-weight: 600;
    margin-top: 18px;
    margin-left: 110px; }
    header.main .bottom .time span {
      position: relative;
      display: block; }
      header.main .bottom .time span:before {
        display: block;
        content: "";
        position: absolute;
        left: -21px;
        top: 3px;
        background-position: 0 -3985px;
        height: 17px;
        width: 17px; }
  header.main .bottom .phone {
    position: relative;
    float: left;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 19px; }
    header.main .bottom .phone span {
      position: relative;
      display: block; }
      header.main .bottom .phone span:before {
        display: block;
        content: "";
        position: absolute;
        left: -21px;
        top: 3px;
        background-position: 0 -2839px;
        height: 14px;
        width: 14px; }
  header.main .bottom .btn-wrapper {
    float: left;
    margin-left: 15px;
    display: block;
    margin-top: 14px; }
    header.main .bottom .btn-wrapper .btn {
      padding: 7px 15px; }

/*&:before,
&:after {
  display: table;
  content: " ";
}
&:after {
  clear: both;
}*/
main .section-menu:before, main .section-menu:after {
  display: table;
  content: " "; }
main .section-menu:after {
  clear: both; }
main .section-menu.wash figure {
  width: 12% !important; }
main .section-menu.tech figure {
  width: 17% !important;
  margin-left: 0; }
  main .section-menu.tech figure.shelf {
    margin-left: 15px; }
  main .section-menu.tech figure.svc {
    margin-left: 0; }
  main .section-menu.tech figure.car-wash {
    width: 17% !important;
    margin-left: 46px; }
  main .section-menu.tech figure.dry {
    margin-left: 46px; }
  main .section-menu.tech figure.plate {
    margin-left: 13px;
    margin-top: 6px;
    margin-right: 0; }
  main .section-menu.tech figure.car {
    margin-left: 22px; }
  main .section-menu.tech figure.vent {
    margin-left: 18px; }
main .section-menu.plumber figure {
  width: 12% !important; }
main .section-menu.electro figure {
  width: 25% !important;
  margin-left: 0; }
main .section-menu.master figure {
  width: 20% !important;
  margin-left: 0; }
main .section-menu figure {
  float: left;
  position: relative;
  margin: 0;
  min-height: 88px;
  margin-left: 39px; }
  main .section-menu figure:hover p {
    color: #04aae1; }
  main .section-menu figure:hover:before {
    opacity: 0; }
  main .section-menu figure:hover:after {
    opacity: 1; }
  main .section-menu figure p {
    font-size: 0.818em;
    font-weight: 300;
    margin: 2px auto;
    text-align: center;
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  main .section-menu figure:before, main .section-menu figure:after {
    content: "";
    display: block;
    margin: 19px auto 0;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  main .section-menu figure:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0; }
  main .section-menu figure.washer:before {
    margin: 18px auto 0;
    background-position: 0 -4806px;
    height: 42px;
    width: 37px; }
  main .section-menu figure.washer:after {
    background-position: 0 -4754px;
    height: 42px;
    width: 37px;
    top: -1px; }
  main .section-menu figure.frost {
    margin-left: 44px; }
    main .section-menu figure.frost:before {
      background-position: 0 -2386px;
      height: 43px;
      width: 26px; }
    main .section-menu figure.frost:after {
      background-position: 0 -2333px;
      height: 43px;
      width: 26px; }
  main .section-menu figure.plate {
    margin-left: 44px;
    margin-right: 1px; }
    main .section-menu figure.plate:before {
      background-position: 0 -2915px;
      height: 42px;
      width: 36px; }
    main .section-menu figure.plate:after {
      background-position: 0 -2863px;
      height: 42px;
      width: 36px; }
  main .section-menu figure.panel {
    margin-left: 47px; }
    main .section-menu figure.panel p {
      margin: 5px auto; }
    main .section-menu figure.panel:before {
      margin: 23px auto 0;
      background-position: 0 -2793px;
      height: 36px;
      width: 36px; }
    main .section-menu figure.panel:after {
      background-position: 0 -2747px;
      height: 36px;
      width: 36px;
      top: 4px; }
  main .section-menu figure.shelf {
    margin-left: 43px; }
    main .section-menu figure.shelf p {
      margin: 7px auto; }
    main .section-menu figure.shelf:before {
      margin: 22px auto 0;
      background-position: 0 -3311px;
      height: 34px;
      width: 41px; }
    main .section-menu figure.shelf:after {
      background-position: 0 -3267px;
      height: 34px;
      width: 41px;
      top: 3px; }
  main .section-menu figure.car-wash {
    width: 15% !important;
    margin-left: 22px; }
    main .section-menu figure.car-wash:before {
      background-position: 0 -874px;
      height: 45px;
      width: 36px; }
    main .section-menu figure.car-wash:after {
      background-position: 0 -819px;
      height: 45px;
      width: 36px; }
  main .section-menu figure.dry {
    margin-left: 34px; }
    main .section-menu figure.dry:before {
      margin: 28px auto 0;
      background-position: 0 -2080px;
      height: 37px;
      width: 36px; }
    main .section-menu figure.dry:after {
      background-position: 0 -2033px;
      height: 37px;
      width: 36px;
      top: 9px; }
  main .section-menu figure.cond:before {
    margin: 26px auto 0;
    background-position: 0 -1346px;
    height: 39px;
    width: 58px; }
  main .section-menu figure.cond:after {
    background-position: 0 -1297px;
    height: 39px;
    width: 58px;
    top: 7px; }
  main .section-menu figure.cofe {
    margin-left: 45px; }
    main .section-menu figure.cofe:before {
      margin: 26px auto 0;
      background-position: 0 -1248px;
      height: 39px;
      width: 35px; }
    main .section-menu figure.cofe:after {
      background-position: 0 -1199px;
      height: 39px;
      width: 35px;
      top: 7px; }
  main .section-menu figure.svc {
    margin-left: 47px; }
    main .section-menu figure.svc:before {
      margin: 28px auto 0;
      background-position: 0 -3833px;
      height: 36px;
      width: 59px; }
    main .section-menu figure.svc:after {
      background-position: 0 -3787px;
      height: 36px;
      width: 59px;
      top: 9px; }
  main .section-menu figure.vent {
    margin-left: 47px; }
    main .section-menu figure.vent:before {
      margin: 28px auto 0;
      background-position: 0 -4603px;
      height: 35px;
      width: 42px; }
    main .section-menu figure.vent:after {
      background-position: 0 -4558px;
      height: 35px;
      width: 42px;
      top: 9px; }
  main .section-menu figure.car {
    margin-left: 47px; }
    main .section-menu figure.car:before {
      margin: 28px auto 0;
      background-position: 0 -929px;
      height: 34px;
      width: 52px; }
    main .section-menu figure.car:after {
      background-position: 0 -775px;
      height: 34px;
      width: 52px;
      top: 9px; }
  main .section-menu figure.toilet:before {
    background-position: 0 -4064px;
    height: 42px;
    width: 32px; }
  main .section-menu figure.toilet:after {
    background-position: 0 -4012px;
    height: 42px;
    width: 32px; }
  main .section-menu figure.bide:before {
    background-position: 0 -525px;
    height: 40px;
    width: 30px; }
  main .section-menu figure.bide:after {
    background-position: 0 -475px;
    height: 40px;
    width: 30px; }
  main .section-menu figure.bath:before {
    background-position: 0 -422px;
    height: 43px;
    width: 47px; }
  main .section-menu figure.bath:after {
    background-position: 0 -369px;
    height: 43px;
    width: 47px; }
  main .section-menu figure.jacuzzi:before {
    background-position: 0 -2594px;
    height: 43px;
    width: 43px; }
  main .section-menu figure.jacuzzi:after {
    background-position: 0 -2541px;
    height: 43px;
    width: 43px; }
  main .section-menu figure.crane:before {
    background-position: 0 -1670px;
    height: 43px;
    width: 57px; }
  main .section-menu figure.crane:after {
    background-position: 0 -1617px;
    height: 43px;
    width: 57px; }
  main .section-menu figure.shower:before {
    background-position: 0 -3409px;
    height: 44px;
    width: 39px; }
  main .section-menu figure.shower:after {
    background-position: 0 -3355px;
    height: 44px;
    width: 39px; }
  main .section-menu figure.sink:before {
    background-position: 0 -3515px;
    height: 42px;
    width: 56px; }
  main .section-menu figure.sink:after {
    background-position: 0 -3463px;
    height: 42px;
    width: 56px; }
  main .section-menu figure.towel:before {
    background-position: 0 -4168px;
    height: 42px;
    width: 45px; }
  main .section-menu figure.towel:after {
    background-position: 0 -4116px;
    height: 42px;
    width: 45px; }
  main .section-menu figure.clean:before {
    background-position: 0 -1146px;
    height: 43px;
    width: 22px; }
  main .section-menu figure.clean:after {
    background-position: 0 -1093px;
    height: 43px;
    width: 22px; }
  main .section-menu figure.construct:before {
    background-position: 0 -1455px;
    height: 50px;
    width: 51px; }
  main .section-menu figure.construct:after {
    background-position: 0 -1395px;
    height: 50px;
    width: 51px; }
  main .section-menu figure.warm {
    margin-top: 7px; }
    main .section-menu figure.warm:before {
      background-position: 0 -4701px;
      height: 43px;
      width: 45px; }
    main .section-menu figure.warm:after {
      background-position: 0 -4648px;
      height: 43px;
      width: 45px; }
  main .section-menu figure.destruct:before {
    background-position: 0 -1878px;
    height: 41px;
    width: 44px; }
  main .section-menu figure.destruct:after {
    background-position: 0 -1827px;
    height: 41px;
    width: 44px; }
  main .section-menu figure.switch:before {
    background-position: 0 -3932px;
    height: 43px;
    width: 43px; }
  main .section-menu figure.switch:after {
    background-position: 0 -3879px;
    height: 43px;
    width: 43px; }
  main .section-menu figure.power:before {
    background-position: 0 -52px;
    height: 42px;
    width: 42px; }
  main .section-menu figure.power:after {
    background-position: 0 0;
    height: 42px;
    width: 42px; }
  main .section-menu figure.uzo:before {
    background-position: 0 -4507px;
    height: 41px;
    width: 49px; }
  main .section-menu figure.uzo:after {
    background-position: 0 -4456px;
    height: 41px;
    width: 49px; }
  main .section-menu figure.chandelier:before {
    background-position: 0 -1033px;
    height: 50px;
    width: 45px; }
  main .section-menu figure.chandelier:after {
    background-position: 0 -973px;
    height: 50px;
    width: 45px; }
  main .section-menu figure.light:before {
    background-position: 0 -2697px;
    height: 40px;
    width: 43px; }
  main .section-menu figure.light:after {
    background-position: 0 -2647px;
    height: 40px;
    width: 43px; }
  main .section-menu figure.cable:before {
    background-position: 0 -725px;
    height: 40px;
    width: 43px; }
  main .section-menu figure.cable:after {
    background-position: 0 -575px;
    height: 40px;
    width: 43px; }
  main .section-menu figure.electro:before {
    background-position: 0 -2178px;
    height: 41px;
    width: 51px; }
  main .section-menu figure.electro:after {
    background-position: 0 -2127px;
    height: 41px;
    width: 51px; }
  main .section-menu figure.cable-repair:before {
    background-position: 0 -675px;
    height: 40px;
    width: 49px; }
  main .section-menu figure.cable-repair:after {
    background-position: 0 -625px;
    height: 40px;
    width: 49px; }
  main .section-menu figure.screwdriver:before {
    background-position: 0 -3218px;
    height: 39px;
    width: 59px; }
  main .section-menu figure.screwdriver:after {
    background-position: 0 -3169px;
    height: 39px;
    width: 59px; }
  main .section-menu figure.furniture:before {
    background-position: 0 -2490px;
    height: 41px;
    width: 49px; }
  main .section-menu figure.furniture:after {
    background-position: 0 -2439px;
    height: 41px;
    width: 49px; }
  main .section-menu figure.floor:before {
    background-position: 0 -2281px;
    height: 42px;
    width: 42px; }
  main .section-menu figure.floor:after {
    background-position: 0 -2229px;
    height: 42px;
    width: 42px; }
  main .section-menu figure.door:before {
    background-position: 0 -1981px;
    height: 42px;
    width: 37px; }
  main .section-menu figure.door:after {
    background-position: 0 -1929px;
    height: 42px;
    width: 37px; }
  main .section-menu figure.unfur:before {
    background-position: 0 -4404px;
    height: 42px;
    width: 66px; }
  main .section-menu figure.unfur:after {
    background-position: 0 -4352px;
    height: 42px;
    width: 66px; }
  main .section-menu figure.repair:before {
    background-position: 0 -3121px;
    height: 38px;
    width: 38px; }
  main .section-menu figure.repair:after {
    background-position: 0 -3073px;
    height: 38px;
    width: 38px; }
  main .section-menu figure.cornice:before {
    background-position: 0 -1566px;
    height: 41px;
    width: 62px; }
  main .section-menu figure.cornice:after {
    background-position: 0 -1515px;
    height: 41px;
    width: 62px; }
  main .section-menu figure.uncor:before {
    background-position: 0 -4302px;
    height: 40px;
    width: 41px; }
  main .section-menu figure.uncor:after {
    background-position: 0 -4252px;
    height: 40px;
    width: 41px; }
  main .section-menu figure.decor:before {
    background-position: 0 -1775px;
    height: 42px;
    width: 42px; }
  main .section-menu figure.decor:after {
    background-position: 0 -1723px;
    height: 42px;
    width: 42px; }
  main .section-menu figure.rclean:before {
    background-position: 0 -3020px;
    height: 43px;
    width: 40px; }
  main .section-menu figure.rclean:after {
    background-position: 0 -2967px;
    height: 43px;
    width: 40px; }
main .banner {
  margin: 30px 0;
  min-height: 200px;
  position: relative; }
  main .banner:before {
    content: "";
    display: block;
    background: #ffffff;
    width: 149px;
    height: 256px;
    position: absolute;
    left: -95px;
    top: 1px;
    -moz-transform: rotate(28deg) skew(12deg, 46deg);
    -ms-transform: rotate(28deg) skew(12deg, 46deg);
    -webkit-transform: rotate(28deg) skew(12deg, 46deg);
    transform: rotate(28deg) skew(12deg, 46deg); }
  main .banner hgroup {
    position: absolute;
    right: 48px;
    top: 15px;
    text-align: right; }
  main .banner h1 {
    margin: 0 auto; }
  main .banner h2 {
    padding: 0;
    color: #04aae1;
    margin: 0;
    font-size: 1.313em; }
  main .banner a {
    position: absolute;
    right: 45px;
    bottom: 24px;
    font-weight: 300; }
  main .banner p {
    position: absolute;
    right: 45px;
    top: 86px;
    text-transform: uppercase;
    font-weight: 300; }
  main .banner.banner-wash {
    background: url("/images/banner-wash.jpg") no-repeat center;
    background-size: contain; }
  main .banner.banner-tech {
    background: url("/images/banner-tech.jpg") no-repeat center;
    background-size: contain; }
  main .banner.banner-plumber {
    background: url("/images/banner-plumber.jpg") no-repeat center;
    background-size: contain; }
  main .banner.banner-electro {
    background: url("/images/banner-electro.jpg") no-repeat center;
    background-size: contain; }
  main .banner.banner-master {
    background: url("/images/banner-master.jpg") no-repeat center;
    background-size: contain; }
  main .banner .h2 {
    color: #04aae1; }
main .brands {
  margin: 68px auto 50px;
  width: 75%; }
  main .brands .owl-nav {
    display: block !important; }
    main .brands .owl-nav .owl-next,
    main .brands .owl-nav .owl-prev {
      width: 45px;
      height: 45px;
      position: absolute;
      top: -10px; }
      main .brands .owl-nav .owl-next:before, main .brands .owl-nav .owl-next:after,
      main .brands .owl-nav .owl-prev:before,
      main .brands .owl-nav .owl-prev:after {
        content: "";
        position: absolute;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        -webkit-transition-property: opacity;
        transition-property: opacity;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -moz-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
      main .brands .owl-nav .owl-next:after,
      main .brands .owl-nav .owl-prev:after {
        opacity: 0; }
      main .brands .owl-nav .owl-next:hover:before,
      main .brands .owl-nav .owl-prev:hover:before {
        opacity: 0; }
      main .brands .owl-nav .owl-next:hover:after,
      main .brands .owl-nav .owl-prev:hover:after {
        opacity: 1; }
    main .brands .owl-nav .owl-next {
      right: -100px; }
      main .brands .owl-nav .owl-next:before {
        background-position: 0 -3732px;
        height: 45px;
        width: 45px; }
      main .brands .owl-nav .owl-next:after {
        background-position: 0 -3677px;
        height: 45px;
        width: 45px; }
    main .brands .owl-nav .owl-prev {
      left: -90px; }
      main .brands .owl-nav .owl-prev:before {
        background-position: 0 -3622px;
        height: 45px;
        width: 45px; }
      main .brands .owl-nav .owl-prev:after {
        background-position: 0 -3567px;
        height: 45px;
        width: 45px; }
main .price h2 {
  text-align: center; }
main .price:before, main .price:after {
  display: table;
  content: " "; }
main .price:after {
  clear: both; }
main .price article {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #f9f9f9 50%);
  border-top: 1px solid #cacaca;
  /*  &:last-child {
      ul {
        padding: 0;
        li {
          &:first-child {
            max-width: 240px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            padding: 10px 35px 10px 35px;
          }
        }
      }
    }*/ }
  main .price article:nth-child(odd) {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #f1f0f0 50%); }
  main .price article ul {
    margin: 0;
    list-style: none;
    padding: 0; }
    main .price article ul li {
      position: relative;
      float: left;
      padding: 10px;
      background: #f9f9f9; }
      main .price article ul li:first-child {
        background: #ffffff !important;
        padding: 10px 35px 10px 35px;
        font-weight: bold; }
        main .price article ul li:first-child:before {
          content: "";
          background-position: 0 -4220px;
          height: 22px;
          width: 22px;
          position: absolute;
          top: 7px;
          left: 0; }
      main .price article ul li:nth-child(even) {
        font-size: 0.875em;
        position: relative;
        overflow: hidden;
        padding: 10px 73px 12px 41px; }
        main .price article ul li:nth-child(even):before {
          content: "";
          display: block;
          background: #ffffff;
          width: 149px;
          height: 256px;
          position: absolute;
          left: -115px;
          top: -83px;
          z-index: 5;
          -moz-transform: rotate(28deg) skew(12deg, 46deg);
          -ms-transform: rotate(28deg) skew(12deg, 46deg);
          -webkit-transform: rotate(28deg) skew(12deg, 46deg);
          transform: rotate(28deg) skew(12deg, 46deg); }
      main .price article ul li:last-child {
        font-size: 1.250em;
        font-weight: 700;
        color: #04aae1;
        padding: 7px;
        float: right; }
  main .price article:nth-child(odd) ul li {
    background: #f1f0f0; }
main .price.double article {
  width: 46%;
  margin-left: 30px;
  float: left;
  border-top: 1px solid #f9f9f9;
  border-right: 1px solid #f9f9f9;
  border-left: 1px solid #f9f9f9; }
  main .price.double article ul {
    margin: 0;
    list-style: none;
    padding: 0; }
    main .price.double article ul li {
      position: relative;
      float: left;
      padding: 10px;
      background: #f9f9f9;
      width: 50%; }
      main .price.double article ul li:first-child {
        background: #ffffff !important;
        padding: 10px 25px 10px;
        font-weight: 600; }
        main .price.double article ul li:first-child:before {
          display: none; }
      main .price.double article ul li:last-child {
        font-size: 1.250em;
        font-weight: 700;
        color: #04aae1;
        padding: 7px 7px 7px 40px;
        float: right;
        position: relative;
        overflow: hidden;
        text-align: center; }
        main .price.double article ul li:last-child:before {
          content: "";
          display: block;
          background: #ffffff;
          width: 149px;
          height: 256px;
          position: absolute;
          left: -115px;
          top: -83px;
          z-index: 5;
          -moz-transform: rotate(28deg) skew(12deg, 46deg);
          -ms-transform: rotate(28deg) skew(12deg, 46deg);
          -webkit-transform: rotate(28deg) skew(12deg, 46deg);
          transform: rotate(28deg) skew(12deg, 46deg); }
main .advantages {
  margin: 73px 0 64px; }
  main .advantages ul {
    list-style: none;
    margin: 0; }
    main .advantages ul li {
      position: relative;
      float: left;
      width: 25%;
      font-size: 1.375em;
      line-height: 29px; }
      main .advantages ul li:before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px; }
      main .advantages ul li:first-child {
        padding-left: 49px; }
        main .advantages ul li:first-child:before {
          background-position: 0 -104px;
          height: 54px;
          width: 49px;
          left: -13px;
          top: 4px; }
      main .advantages ul li:nth-child(2) {
        padding-left: 90px; }
        main .advantages ul li:nth-child(2):before {
          background-position: 0 -168px;
          height: 54px;
          width: 54px;
          left: 28px;
          top: 4px; }
      main .advantages ul li:nth-child(3) {
        padding-left: 109px; }
        main .advantages ul li:nth-child(3):before {
          background-position: 0 -232px;
          height: 60px;
          width: 45px;
          left: 44px;
          top: -2px; }
      main .advantages ul li:last-child {
        padding-left: 143px; }
        main .advantages ul li:last-child:before {
          background-position: 0 -302px;
          height: 57px;
          width: 43px;
          left: 81px;
          top: 3px; }
main .guarantee {
  background: #f1f0f0;
  height: 375px;
  overflow: hidden; }
  main .guarantee .left {
    width: 69%;
    float: left;
    position: relative;
    z-index: 1;
    padding-right: 30px;
    padding-bottom: 45px; }
    main .guarantee .left:before {
      content: "";
      display: block;
      background: #f1f0f0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
    main .guarantee .left:after {
      content: "";
      display: block;
      background: #f1f0f0;
      width: 149px;
      height: 256px;
      position: absolute;
      right: -64px;
      top: 76px;
      -moz-box-shadow: 26px -36px 47px rgba(25, 25, 25, 0.65);
      -webkit-box-shadow: 26px -36px 47px rgba(25, 25, 25, 0.65);
      box-shadow: 26px -36px 47px rgba(25, 25, 25, 0.65);
      -moz-transform: rotate(28deg) skew(12deg, 46deg);
      -ms-transform: rotate(28deg) skew(12deg, 46deg);
      -webkit-transform: rotate(28deg) skew(12deg, 46deg);
      transform: rotate(28deg) skew(12deg, 46deg);
      z-index: -2; }
    main .guarantee .left p:last-child {
      width: 80%;
      font-weight: 600;
      margin-top: 35px; }
    main .guarantee .left a {
      float: right;
      width: 30%;
      margin-top: 24px; }
  main .guarantee .right {
    float: right;
    width: 31%; }
    main .guarantee .right img {
      max-width: 655px; }
  main .guarantee span {
    color: #04aae1; }
main .about {
  padding-top: 56px; }
  main .about .director {
    float: left;
    position: relative;
    width: 40%;
    min-height: 625px; }
    main .about .director img {
      position: absolute;
      bottom: 0;
      left: -53px; }
    main .about .director h2 {
      margin-bottom: -7px; }
    main .about .director p {
      color: #ffffff;
      position: absolute;
      bottom: 16px;
      text-shadow: 0 0 1px #191919;
      left: -58px;
      right: 0;
      margin: auto;
      text-align: center;
      font-size: 0.813em; }
  main .about .body {
    float: right;
    width: 57%; }
    main .about .body h2 {
      margin-bottom: -6px; }
    main .about .body span {
      color: #04aae1; }
    main .about .body img {
      float: left;
      margin-right: 10px; }
main .skills {
  background: #04aae1;
  text-align: center; }
  main .skills figure {
    color: #ffffff;
    float: left; }
    main .skills figure:first-child {
      margin: 5px 0 0 52px; }
    main .skills figure:nth-child(2) {
      margin: 5px 0 0 123px; }
    main .skills figure:nth-child(3) {
      margin: 5px 0 0 95px; }
    main .skills figure:last-child {
      margin: 5px 0 0 101px; }
    main .skills figure b {
      font-size: 71px;
      font-weight: 600; }
    main .skills figure p {
      font-size: 17px;
      margin: 0 0 11px 0; }
main .service {
  background: #f1f0f0;
  overflow: hidden; }
  main .service .left {
    float: left;
    width: 25%;
    position: relative;
    min-height: 374px; }
    main .service .left img {
      position: absolute;
      right: 0;
      top: 0; }
  main .service .right {
    width: 75%;
    float: right;
    position: relative;
    z-index: 1;
    min-height: 374px;
    padding-left: 65px; }
    main .service .right h2 {
      margin-top: 35px; }
    main .service .right span {
      color: #04aae1; }
    main .service .right .btn {
      font-size: 14px;
      margin-right: 15px; }
    main .service .right .owl-carousel {
      width: 85%;
      margin: 50px auto 0; }
      main .service .right .owl-carousel .owl-nav {
        display: block !important;
        position: relative; }
        main .service .right .owl-carousel .owl-nav .owl-next,
        main .service .right .owl-carousel .owl-nav .owl-prev {
          width: 45px;
          height: 45px;
          position: absolute;
          top: -50px; }
          main .service .right .owl-carousel .owl-nav .owl-next:before, main .service .right .owl-carousel .owl-nav .owl-next:after,
          main .service .right .owl-carousel .owl-nav .owl-prev:before,
          main .service .right .owl-carousel .owl-nav .owl-prev:after {
            content: "";
            position: absolute;
            -moz-transition-property: opacity;
            -o-transition-property: opacity;
            -webkit-transition-property: opacity;
            transition-property: opacity;
            -moz-transition-duration: 0.4s;
            -o-transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            -moz-transition-timing-function: ease-out;
            -o-transition-timing-function: ease-out;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
          main .service .right .owl-carousel .owl-nav .owl-next:after,
          main .service .right .owl-carousel .owl-nav .owl-prev:after {
            opacity: 0; }
          main .service .right .owl-carousel .owl-nav .owl-next:hover:before,
          main .service .right .owl-carousel .owl-nav .owl-prev:hover:before {
            opacity: 0; }
          main .service .right .owl-carousel .owl-nav .owl-next:hover:after,
          main .service .right .owl-carousel .owl-nav .owl-prev:hover:after {
            opacity: 1; }
        main .service .right .owl-carousel .owl-nav .owl-next {
          right: -90px; }
          main .service .right .owl-carousel .owl-nav .owl-next:before {
            background-position: 0 -3732px;
            height: 45px;
            width: 45px; }
          main .service .right .owl-carousel .owl-nav .owl-next:after {
            background-position: 0 -3677px;
            height: 45px;
            width: 45px; }
        main .service .right .owl-carousel .owl-nav .owl-prev {
          left: -90px; }
          main .service .right .owl-carousel .owl-nav .owl-prev:before {
            background-position: 0 -3622px;
            height: 45px;
            width: 45px; }
          main .service .right .owl-carousel .owl-nav .owl-prev:after {
            background-position: 0 -3567px;
            height: 45px;
            width: 45px; }
    main .service .right:before {
      content: "";
      display: block;
      background: #f1f0f0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
    main .service .right:after {
      content: "";
      display: block;
      background: #f1f0f0;
      width: 149px;
      height: 256px;
      position: absolute;
      left: -64px;
      top: 37px;
      -moz-box-shadow: 40px 42px 47px rgba(25, 25, 25, 0.65);
      -webkit-box-shadow: 40px 42px 47px rgba(25, 25, 25, 0.65);
      box-shadow: 40px 42px 47px rgba(25, 25, 25, 0.65);
      -moz-transform: rotate(28deg) skew(12deg, 46deg) scale(-1, 1);
      -ms-transform: rotate(28deg) skew(12deg, 46deg) scale(-1, 1);
      -webkit-transform: rotate(28deg) skew(12deg, 46deg) scale(-1, 1);
      transform: rotate(28deg) skew(12deg, 46deg) scale(-1, 1);
      z-index: -2; }
main .reviews {
  padding-top: 65px; }
  main .reviews article {
    position: relative;
    width: 45%;
    margin: 0 22px 65px;
    float: left;
    background: #f1f0f0;
    min-height: 165px;
    padding: 0px 11px 20px; }
    main .reviews article footer {
      color: #04aae1; }
      main .reviews article footer span {
        position: absolute;
        right: 15px;
        bottom: 15px; }

@media screen and (max-width: 981px) {
  main .about .director {
    display: none; }

  main .about .body {
    float: none;
    width: 90%;
    margin: 0 auto; }

  main .about .body img {
    margin-bottom: 35px; }

  main .guarantee .left {
    width: 90%;
    float: none;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0 auto; }

  main .guarantee .left:after,
  main .guarantee .left:before,
  main .service .right:before,
  main .service .right:after,
  main .guarantee .right {
    display: none; }

  main .guarantee {
    height: auto; }

  main .service .left {
    display: none; }

  main .service .right {
    width: 95%;
    float: none;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    min-height: 0;
    padding-left: 0; } }
footer#map {
  width: 100%;
  height: 365px;
  position: relative; }
  footer#map.inner:after {
    background: rgba(105, 164, 206, 0.34);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 365px; }
  footer#map .recall-form {
    position: absolute;
    bottom: 0;
    top: 0;
    background: #ffffff;
    min-height: 365px;
    width: 435px;
    padding: 35px 25px 0 20px;
    z-index: 5; }
    footer#map .recall-form ul {
      list-style: none;
      padding: 0; }
    footer#map .recall-form form {
      text-align: center; }
      footer#map .recall-form form input[type=text] {
        background: #ffffff;
        outline: none;
        border: 1px solid #04aae1;
        padding: 5px 10px;
        font-weight: 300;
        display: block;
        width: 95%;
        margin: 15px 0; }
      footer#map .recall-form form .btn {
        width: 95%;
        display: block;
        padding: 10px 0;
        font-size: 14px; }

/*Blocks*/
